.add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 20vw;
    max-width: 80vw;
  }
}
